@keyframes pulse-animation {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes pulse-animation-outer {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  40% {
    opacity: 0.2;
    transform: scale(1.2);
  }
  100% {
    transform: scale(1.4);
    opacity: 0;
  }
}

@keyframes hover-shake {
  0% {
    transform: translateX(3px) rotate(2deg);
  }
  10% {
    transform: translateX(-3px) rotate(-2deg);
  }
  20% {
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    transform: translateX(1px) rotate(0);
  }
  100% {
    transform: translateX(-1px) rotate(0);
  }
}

.wrapper {
  background-color: $white;
  position: relative;
  z-index: 0;
}

.map-section {
  .embed-responsive {
    iframe {
      height: 200px;
    }
  }
}

@include media-breakpoint-up(md) {
  .map-section {
    .embed-responsive {
      iframe {
        height: 500px;
      }
    }
  }
}

.overline-line--left {
  @include font-size($font-sizes16);
  padding-left: 50px;
  text-transform: uppercase;
  font-weight: $bold-weight;
  color: $primary-color;
  font-family: var(--font-primary);
  line-height: 1;
  display: inline-block;
  margin-bottom: 20px;
  position: relative;

  &:before {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 2px;
    width: 30px;
    background-color: $primary-color;
    content: "";
  }
}

.overline-line--right {
  @include font-size($font-sizes16);
  padding-right: 50px;
  text-transform: uppercase;
  font-weight: $bold-weight;
  color: $primary-color;
  font-family: var(--font-primary);
  line-height: 1;
  display: inline-block;
  margin-bottom: 20px;
  position: relative;

  &:before {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 2px;
    width: 30px;
    background-color: $primary-color;
    content: "";
  }
}

.overline-line--center {
  @include font-size($font-sizes16);
  padding-right: 50px;
  padding-left: 50px;
  text-transform: uppercase;
  font-weight: $bold-weight;
  color: $primary-color;
  font-family: var(--font-primary);
  line-height: 1;
  display: inline-block;
  margin-bottom: 20px;
  position: relative;

  &:before {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 2px;
    width: 30px;
    background-color: $primary-color;
    content: "";
  }

  &:after {
    position: absolute;
    content: "";
    left: auto;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 2px;
    width: 30px;
    background-color: $primary-color;
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  &.highlight {
    font-weight: $bold-weight;
    position: relative;
    padding: 5px 0 5px 25px;
    &::before {
      content: "";
      @include abs-position(0, initial, initial, 0);
      height: 100%;
      width: 4px;
      background-color: $primary-color;
    }
  }
}

p {
  &.text-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  &.text-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  &.text-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.maintenance {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  .maintenance__content {
    text-align: center;
  }
}
