.team-list {
  .team-wrapper {
    position: relative;
  }

  .members {
    position: relative;
    margin: 0 30px 30px;
    &:hover {
      .member-img img {
        transform: scale(1.1);
      }
    }
  }
  .member-img {
    position: relative;
    overflow: hidden;
    &::before {
      content: "";
      @include abs-position(0, initial, initial, 0);
      width: 100%;
      height: 100%;
      background-color: $image-overlay;
      opacity: 0.7;
      z-index: 1;
    }
    img {
      width: 100%;
      transition: all 0.4s ease-out 0s;
    }
  }
  .member-info {
    @include abs-position(initial, initial, 20px, 20px);
    z-index: 2;
    h3 {
      @include font-size($font-sizes30);
      text-transform: uppercase;
      margin-bottom: 10px;
      color: $white;
    }
    span {
      font-family: var(--font-oswald);
      color: $primary-color;
      font-weight: $bold-weight;
      text-transform: uppercase;
    }
  }
  .social-info {
    @include abs-position(0, 0, initial, initial);
    @include font-size($font-sizes32);
    background-color: $white;
    color: $text-color;
    z-index: 2;
    width: 60px;
    height: 60px;
    line-height: 60px !important;
    text-align: center;

    &:hover {
      background-color: $primary-color;
      color: $white;
    }
  }

  @include media-breakpoint-up(lg) {
    padding-bottom: 35px;
  }
}

@include media-breakpoint-up(md) {
  .team-list .members {
    margin: 0 0 30px;
    .member-info {
      bottom: 40px;
      left: 40px;
    }
  }
}
